.container {
    display: flex;
    gap: 20px;
}
.Title{
    margin-left: 100px;
    color:white;
    padding-left: 10px;
}
.menulist{
    justify-content: center;
    text-align: center;
    width: 100%;
}